@model ProductVM

@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div class="border p-2 mt-1">
        <h2 class="text-primary">Create Product</h2>
        <hr />
    </div>

    <div asp-validation-summary="All"></div>

    <div class="p-2">
        <label asp-for="Product.Title"></label>
        <input asp-for="Product.Title" type="text" class="form-control" />
        <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.Description"></label>
        <input asp-for="Product.Description" type="text" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.ISBN"></label>
        <input asp-for="Product.ISBN" type="text" class="form-control" />
        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
    </div>


    <div class="p-2">
        <label asp-for="Product.Author"></label>
        <input asp-for="Product.Author" type="text" class="form-control" />
        <span asp-validation-for="Product.Author" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.ListPrice"></label>
        <input asp-for="Product.ListPrice" type="text" class="form-control" />
        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.Price50"></label>
        <input asp-for="Product.Price50" type="text" class="form-control" />
        <span asp-validation-for="Product.Price50" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.Price100"></label>
        <input asp-for="Product.Price100" type="text" class="form-control" />
        <span asp-validation-for="Product.Price100" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.CategoryId"></label>
        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
            <option disabled selected> --Select Category-- </option>
        </select>
        <span asp-validation-for="Product.Price100" class="text-danger"></span>
    </div>

    <div class="p-2">
        <label asp-for="Product.ImageUrl"></label>
        <input asp-for="Product.ImageUrl" type="file" name="file" class="form-control" />
        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
    </div>

    <div class="d-flex p-2">
        <button type="submit" class="btn btn-primary form-control w-50">Create</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border text-center  w-50">Back to List</a>
    </div>
    
</form>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
}